# Postgresql Environment Variables
POSTGRES_DB=mydb
POSTGRES_USER=mydb
POSTGRES_PASSWORD={ TODO : generated }
# pgAdmin Environment Variables
PGADMIN_DEFAULT_EMAIL=dummyemail@dummy.org # Dummy email but correctly form
PGADMIN_DEFAULT_PASSWORD={ TODO : generated }
PGADMIN_LISTEN_ADDRESS=[::] # Default value
PPGADMIN_LISTEN_PORT=80 # Default value when TLS disabled